#skin{
  background: url('./images/background.jpg') no-repeat center center fixed;
}

#main{
  position: absolute;
  width: 100%;
  text-align: center;
  height:100%;
  font-family: AvantGarde;
}

@font-face {
    font-family: AvantGarde;
    src: url('./ITCAvantGardeStd-Bk.woff');
}

.navbar{
  height:100%;
  width: 10%;
  background-color: black;
  float:left;
  display: inline-block;
  overflow: auto;
  clear:both;
}

/*ADD SPECIFIC SMALLER SCREEN COMPUTER NAV BAR MODIFICATION*/
@media screen and (max-width: 1250px){
  .navbar{
    height:100%;
    width: 10%;
    background-color: black;
    float:left;
    display: inline-block;
    overflow: auto;
    clear:both;
    font-size: 0.6em;
  }

}


h2{
  color:white;
  margin: 1em 1em;
}


h2:hover{
  color:grey;
  cursor: pointer;
}


/*Index Styling*/

#index-block{
  background-color: rgba(0, 0, 0, 0.70);
  width: 40%;
  height: 90%;
  margin: 2em auto;
  position:relative;
  vertical-align: bottom;
  color:white;
  display:inline-block;
  overflow: auto;
  clear:both;
}

#index-img{
  border-radius: 5%;
  width:11em;
  margin: 1em auto;
}

.index-h1{
  margin-top: 20px;

}

.index-p{
  margin: 0 2em ;
  text-align: left;

}

/*Projects styling*/

#project-block{
  background-color: rgba(0, 0, 0, 0.68);
  width: 85%;
  height: 90%;
  margin:2em auto 0;
  position:relative;
  vertical-align: middle;
  color:white;
  display:inline-block;
  overflow: auto;
}

.project-show{
  /*border: white 1px solid;*/
  width:48%;
  height:30em;
  vertical-align: top;
  display: inline-block;
}

.project-img{
  border-radius: 2%;
  width:36em;
  height: 20em;
  margin-bottom: 1em;
  box-shadow: 0 0 0.2em white;
}

.project-p{
  /*border: white 1px solid;*/
  width: 89%;
  margin: auto;
  text-align: justify;
}

/*ADD SPECIFIC SMALLER SCREEN COMPUTER PROJECT MODIFICATION*/
@media screen and (max-width: 1450px){
  #project-block{
    background-color: rgba(0, 0, 0, 0.68);
    width: 70%;
    height: 90%;
    margin:2em auto 0;
    position:relative;
    vertical-align: middle;
    color:white;
    display:inline-block;
    overflow: auto;
  }

  .project-show{
    /*border: white 1px solid;*/
    width:80%;
    height:80%;
    margin:auto;
    vertical-align: top;
    display: block;
  }
  .project-img{
    border-radius: 2%;
    width: 80%;
    height: 70%;
    margin-bottom: 1em;
    box-shadow: 0 0 0.2em white;
  }
}

/*Resume Styling*/
#resume-block{
  background-color: rgba(0, 0, 0, 0.68);
  width: 75%;
  height: 41em;
  margin:2em auto 0;
  position:relative;
  color:white;
  display:inline-block;
  overflow: auto;
}

#resume-img{
  border-radius: 120%;
  width:11em;
  margin: 1em auto;
}

a{
    color: grey;
}

.resume-p{
  width: 95%;
  margin: auto;
}

/*Contact styling*/
#contact-block{
  background-color: rgba(0, 0, 0, 0.68);
  width: 40%;
  height: 40em;
  margin: 2em auto 0;
  position:relative;
  color:white;
  display:inline-block;
  overflow: auto;
}

#contact-p{
  /*border: white 1px solid;*/
  width: 89%;
  margin: auto;
  text-align: justify;
}

#contact-form{
  position: relative;
  margin: auto;
  width: 80%;
  height: 80%;
  display: inline-block;
}

.contact-form-div{
  margin: 1em;
}

.contact-form-input{
  width:20em;

}

#contact-form-textarea{
  width: 30em;
  height:20em;
}

#contact-form-submit{
    font-family: AvantGarde;
}

/*ADD SPECIFIC SMALLER SCREEN COMPUTER FORM MODIFICATION*/
@media screen and (max-width: 1250px){
  #contact-form{
    position: relative;
    margin: auto;
    width: 80%;
    height: 80%;
    display: inline-block;
  }

  .contact-form-div{
    margin: 1em;
  }

  .contact-form-input{
    width:20em;

  }

  #contact-form-textarea{
    width: 25em;
    height:20em;
  }

  #contact-form-submit{
      font-family: AvantGarde;
  }
}

/*------------------------ADD MOBILE RESPONSIVENESS----------------------------------*/
@media screen and (max-width: 780px){
  /*mobile*/#skin{
    background: url('./images/background2.jpg') no-repeat center center fixed;

  }

  /*mobile*/#main{
    position: absolute;
    width: 100%;
    text-align: center;
    height:100%;
    font-family: AvantGarde;
  }

 /*mobile*/  @font-face {
      font-family: AvantGarde;
      src: url('./ITCAvantGardeStd-Bk.woff');
  }

  /*mobile*/.navbar{
    height:6%;
    width: 100%;
    background-color: black;
    float:left;
    display: inline-block;
  }

  /*mobile*/h2{
    color:white;
    margin: 1em 1em;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
  }


  /*mobile*/h2::after{
    color:grey;
    cursor: pointer;
  }


  /*Index Styling*/

  /*mobile*/#index-block{
    background-color: rgba(0, 0, 0, 0.70);
    width: 80%;
    height: 94%;
    margin: 1em auto;
    position:relative;
    vertical-align: bottom;
    color:white;
    display:inline-block;
    overflow: auto;
    clear:both;
  }

  /*mobile*/#index-img{
    border-radius: 5%;
    width:11em;
    margin: 1em auto 0.5em auto;
  }

  /*mobile*/.index-h1{
    margin-top: 0.3em;
    font-size: 1.3em;

  }

  /*mobile*/.index-p{
    margin: 0 2em ;
    text-align: center;
    font-size: 1em;
    padding-bottom:1em;
  }

  /*Projects styling*/

  /*mobile*/#project-block{
    background-color: rgba(0, 0, 0, 0.68);
    width: 85%;
    height: 90%;
    margin:1em auto 0;
    position:relative;
    vertical-align: middle;
    color:white;
    display:inline-block;
    overflow: auto;
  }

  /*mobile*/.project-show{
    /*border: white 1px solid;*/
    width:98%;
    height:18em;
    display: block;
  }

  /*mobile*/#project-h1{
    font-size: 1.3em;
  }

  /*mobile*/.project-img{
    border-radius: 2%;
    width:90%;
    height: 55%;
    margin: 1em auto;
    box-shadow: 0 0 0.2em white;
  }

  /*mobile*/.project-p{
    /*border: white 1px solid;*/
    width: 89%;
    margin: auto;
    text-align: justify;
    font-size: 1em;
  }

  /*Resume Styling*/
  /*mobile*/#resume-block{
    background-color: rgba(0, 0, 0, 0.68);
    width: 75%;
    height: 41em;
    margin:1em auto 0;
    position:relative;
    color:white;
    display:inline-block;
    overflow: auto;
  }

  /*mobile*/#resume-img{
    border-radius: 120%;
    width:11em;
    margin: 1em auto 0;
  }

  /*mobile*/a{
      color: grey;
  }

  /*mobile*/#resume-h1{
    font-size: 1.3em;
  }
  /*mobile*/.resume-p{
    width: 95%;
    margin: auto;
    font-size: 1em;
  }

  /*Contact styling*/
  /*mobile*/#contact-block{
    background-color: rgba(0, 0, 0, 0.68);
    width: 90%;
    height: 90%;
    margin:1em auto;
    position:relative;
    color:white;
    display:inline-block;
    overflow: auto;
  }

  /*mobile*/#contact-h1{
    font-size: 1.3em;
  }

  /*mobile*/#contact-p{
    width: 95%;
    margin: auto;
    font-size: 1em;
  }


    /*mobile*/.contact-form-div{
    margin: 1em;
  }

    /*mobile*/.contact-form-input{
    width:15em;

  }

    /*mobile*/#contact-form-textarea{
    width: 15em;
    height:20em;
  }

    /*mobile*/#contact-form-submit{
      font-family: AvantGarde;
}
}
