#skin{
  background: url('./images/background.jpg') no-repeat center center fixed;
}

#main{
  position: absolute;
  width: 100%;
  text-align: center;
}

#main-block{
  background-color: rgba(0, 0, 0, 0.68);
  width: 25%;
  height: 30em;
  margin: auto;
  position:relative;
  vertical-align: middle;
  color:white;

}
#main-img{
  border-radius: 120%;
  width:11em;
  margin: 12em auto 0em;
}

.main-h1{
  margin-top: 20px;

}

#main-p{
  margin: 2em;
  text-align: justify;
}
